@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

html, body {
    padding: 0px;
    margin: 0px;
}

body {
  background: #d3e0f4;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  /* color: #f4e7d3; */
  font-size: 25px;
  line-height: 1.6;
}


.title {
  display: flex;
  height: 80px;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 45px;
  padding-left: 20px;
  border-bottom: 1.5px solid;
}

.navMenu {
  display: flex;
  width: 100%;
  height: 80px;
  padding-left: 10px;
}

.navMenu a, .navMenu a:visited {
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  font-size: 20px;
}

.navMenu a:hover {
  font-weight: bold;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 80px;
  font-weight: lighter;
}

.insetContent {
  margin-left: 100px;
  margin-right: 100px;
}

ul {
  text-align: left;
  font-weight: lighter;
}

.contacts a, .contacts a:visited {
  color: black;
}

.contacts a:hover {
  font-weight: bold;
}

.footer {
  display: flex;
  color: grey;
  height: 70px;
  font-size: 32px;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 32px;
  margin-bottom: 10px;
  border-top: 1.5px solid;
}
